<div id="content">
    <!--This is the header-->

    <div id="header">
        <img id="geek-logo" ng-src="static/Images/gl-logo@2x.png">
        <img id="image-logo" ng-src="static/Images/hero-img@2x.png">
        <img class="down-arrow" ng-src="static/Images/Page 1@2x.png">
        <span>Powered by spotify</span>
    </div>

    <div ng-controller="startPageCtrl as ctrl" ng-init="ctrl.focus()">
        <div id="searchBar">
            <input ng-keypress="ctrl.pressedKey($event)" id="searchBarInput" ng-model="ctrl.searchText" type="text" placeholder="Search for artist, track or album title">
            <button ng-click="ctrl.search()">Search</button>
        </div>

        <div id="results">
            <div ng-show="ctrl.state === ctrl.States.noSearch"
                 id="noSearch">
                <img ng-src="static/Images/Magnify@2x.png">
                <span>Your results will appear here</span>
            </div>
            <div ng-show="ctrl.state === ctrl.States.noResults"
                 id="zeroResults">
                <img ng-src="static/Images/Magnify@2x.png">
                <span>No results found!</span>
            </div>

            <span class="searchResults">
                <h1 ng-show="ctrl.spotifyApi.results.artists.json_data.length > 0">
                    Artists
                </h1>
                <artist-info-box
                        ng-repeat="(i ,item) in ctrl.spotifyApi.results.artists.json_data"
                        set-selected-item="showView(itemInfo, type)"
                        information="item">
                </artist-info-box>
                <div>
                    <button ng-disabled="ctrl.disablePreviousPage('Artists')" ng-show="ctrl.spotifyApi.results.artists.json_data.length > 0" ng-click="ctrl.previousPage('Artists')">&laquo;</button>
                    <button ng-disabled="ctrl.disableNextPage('Artists')" ng-show="ctrl.spotifyApi.results.artists.json_data.length > 0" ng-click="ctrl.nextPage('Artists')">&raquo;</button>
                </div>
            </span>
            <span class="searchResults">
                <h1 ng-show="ctrl.spotifyApi.results.tracks.json_data.length > 0">
                    Tracks
                </h1>
                <track-info-box
                        ng-repeat="(i ,item) in ctrl.spotifyApi.results.tracks.json_data"
                        set-selected-item="showView(itemInfo, type)"
                        information="item">
                </track-info-box>
                <div>
                    <button ng-disabled="ctrl.disablePreviousPage('Tracks')" ng-show="ctrl.spotifyApi.results.tracks.json_data.length > 0" ng-click="ctrl.previousPage('Tracks')">&laquo;</button>
                    <button ng-disabled="ctrl.disableNextPage('Tracks')" ng-show="ctrl.spotifyApi.results.tracks.json_data.length > 0" ng-click="ctrl.nextPage('Tracks')">&raquo;</button>
                </div>
            </span>
            <span class="searchResults">
                <h1 ng-show="ctrl.spotifyApi.results.albums.json_data.length > 0">
                    Albums
                </h1>
                <album-info-box
                        ng-repeat="(i ,item) in ctrl.spotifyApi.results.albums.json_data"
                        set-selected-item="showView(itemInfo, type)"
                        information="item">
                </album-info-box>
                <div>
                    <button ng-disabled="ctrl.disablePreviousPage('Albums')" ng-show="ctrl.spotifyApi.results.albums.json_data.length > 0" ng-click="ctrl.previousPage('Albums')">&laquo;</button>
                    <button ng-disabled="ctrl.disableNextPage('Albums')" ng-show="ctrl.spotifyApi.results.albums.json_data.length > 0" ng-click="ctrl.nextPage('Albums')">&raquo;</button>
                </div>
            </span>
        </div>
    </div>

    <div id="footer">Designed by Geek Label - Powered by spotify</div>
</div>